:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --active-link-color: #2196f3;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--primary-text-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* main container geometry */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* logo styles */

.logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-blue {
  color: var(--active-link-color);
}

.logo-white {
  color: #ffffff;
}

/* navigation */

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  padding-left: 0;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item:hover,
.nav-item:focus,
.current {
  color: var(--active-link-color);
}

.contacts-list {  
  display: flex;
  margin-left: auto;
}

.contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--active-link-color);
}

/* banner section */

.banner-section {
  background: #2f303a;
}

.banner-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.banner-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.feature-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-section {
  background: #f5f4fa;
}

.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-function {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer {
  background: #2f303a;
  color: #ffffff;
}

.footer-contacts {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--active-link-color);
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}

.portfolio-button-active,
.portfolio-button:hover,
.portfolio-button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.website-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.website-type {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
